body {
    margin: 0;
    font-family: Arial;
}
header, footer {
    background-color : darkviolet;
    color: white;
    padding: 50px;
}

header a {
    border-radius: 5px;
    margin-right:10px;
    border: 2px white solid;
    padding: 10px 10px 10px 10px;
}

main > section {
    border : 4px darkviolet solid;
    margin-left : 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 20px 20px 20px 20px;
}

footer {
    margin-top: 20px;
    padding: 10px;
}
#body {
    width: 75%;
}

main{
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}