body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color : #9274AC;
    color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}

footer {
    background-color : #9274AC;
    color: white;
    padding: 15px;
}

header a {
    border-radius: 5px;
    margin-right:10px;
    border: 2px white solid;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}
header nav {
    margin-top: 25px;
}

main  section {
    border : 4px #9274AC solid;
    margin-left : 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 20px 20px 20px 20px;
    width: 100%;
}

footer {
    margin-top: 20px;
    padding: 10px;
}

main{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

main .elements:nth-child(1){
    flex-basis: 600%;
}




form .inline {
    display: inline-block;
}

.width-50 {
    width: 50%;
}

p {
    font-size: 1rem;
}

table{
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;

}